h1 {
    text-align: center;
    margin-top: 80px;
}

#quiz-description {
    text-align: center;
}

#start-button {
    text-align: center;
    background-color: rgb(54, 189, 54);
    align-content: center;
}

h2 {
    text-align: center;
    margin-top: 80px;
}

#answers {
    align-content: center;
}